
.ypa-title {
  color: red;
  margin-top: 50px;
  font-size: 52px;
  font-family: RoadRage;
  ;
}

.ypa-subtitle {
  color: #1c0d02;
  margin-top: 15px;
  font-size: 28px;
  font-family: Infinite-Stroke-Bold;
;
}
