<div class="container-fluid">

<app-header></app-header>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div  class="carousel-inner">

      <div *ngFor="let pesadilla of pesadillas"
           [ngClass]="{active: (pesadillas.length - 1)== pesadilla.id}" class="carousel-item ">
        <div class="container ">
           <div class="ypa-message text-center ">
              {{ pesadilla.thought.text }}
           </div>
          <div class="ypa-author text-right">
            <a [href]="pesadilla.author.github"> @{{ pesadilla.author.nick }}</a>
          </div>
        </div>
      </div>
    </div>
    <!--
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <img src="assets/svg/grin-tongue-regular.svg" class="ypa-icon-carousel"/>
    </a>
    <!--
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    -->
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <img src="assets/svg/kiss-wink-heart-regular.svg" class="ypa-icon-carousel"/>
    </a>
  </div>

  <app-footer></app-footer>

</div>
